<h1>Monthly Reports</h1>
<table>
  <tr>
    <th>Year</th>
    <th>Month</th>
    <th>Investments</th>
    <th>Purchases</th>
  </tr>
  <% @monthly_reports.each do |monthly_report| %>
    <tr class=<%= cycle("odd", "even") %>>
      <td><%= monthly_report.year %></td>
      <td><%= monthly_report.month %></td>
      <td><%= number_to_currency(monthly_report.investments_amount) %></td>
      <td><%= number_to_currency(monthly_report.purchases_amount) %></td>
    </tr>
  <% end %>
</table>
