<h3>Make an investment or purchase</h3>
<%= form_for([household, transaction]) do |f| %>
  <% if transaction.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %> 
      </ul>
    </div>
  <% end %> 

  <div class="field">
    <%= f.radio_button :credit, :true %>
    <%= f.label :credit_true, "Investment (or credit adjustment)" %>
    <br />
    <%= f.radio_button :credit, :false %>
    <%= f.label :credit_false, "Purchase (or debit adjustment)" %>
  </div>
  
  <div class="field">
    <%= f.label :amount %><br />
    $<%= f.text_field :amount, :size => 6 %>
  </div>

  <div class="field">
    <%= f.label :message, "Optional message"%><br />
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

