<h3>Make an investment or purchase</h3>
<%= form_for([household, transaction]) do |f| %>
  <% if transaction.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |msg| %> 
        <li><%= msg %></li>
      <% end %> 
      </ul>
    </div>
  <% end %> 

  <style type="text/css">
    #new_transaction input[type="submit"] {
      margin-top: 10px;
      margin-left: 285px;
    }
  </style>
  <div style="float: left; margin-right: 40px;" class="field">
    <%= f.radio_button :credit, :true %>
    <%= f.label :credit_true, "Credit" %>
    <p class="help">investment, or credit adjustment</p>
    <%= f.radio_button :credit, :false %>
    <%= f.label :credit_false, "Debit" %>
    <p class="help">purchase, or debit adjustment</p>
  </div>
  
  <div class="field">
    <%= f.label :amount %><br />
    $<%= f.text_field :amount, :size => 6 %>
  </div>

  <div class="field">
    <%= f.label :message, "Notes" %><br />
    <%= f.text_area :message, :rows => 4 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

