<h1>All transactions</h1>
<p>These are all the coop's transactions.</p>

<% if @transactions.empty? %>
  <p>
  There are no transactions yet.
  </p>
<% else %>

<table>
  <tr>
    <th>Date</th>
    <th>Credit/Debit</th>
    <th>Amount</th>
    <th>Message</th>
    <th>Household</th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.created_at %></td>
    <td><%= transaction.credit ? 'investment' : 'purchase' %></td>
    <td class="money"><%= sprintf("$%.2f", transaction.amount) %></td>
    <td><%= transaction.message %></td>
    <td><%= link_to transaction.household.to_s, transaction.household %></td>
    <td><%= link_to 'Edit message', edit_household_transaction_path(transaction.household, transaction) %></td>
  </tr>
<% end %>

  <style type="text/css">
    .total {
      border-top: solid black 1px;
    }
    
    th.total {
      text-align: left;
    }
        
    td.money {
      text-align: right;
    }
    
  </style>

  <tr>
    <td></td>
    <th class="total">balance</th>
    <td class="total money"><%= sprintf("$%.2f", Transaction.total_balance) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<% end %>
<br />

