<h1>Editing transaction message</h1>

<%= form_for([@household, @transaction]) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
  <b>Created:</b> <%= @transaction.created_at %> <br />
  <b>Amount:</b> <%= sprintf("$%.2f", @transaction.amount) %>
  <%= @transaction.credit ? 'investment' : 'purchase' %>
  </p>
  
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.check_box :void %>
    <%= f.label :void, "Void transaction" %>
  </div>
  <div class="actions">
    <%= f.submit "update" %>
  </div>
<% end %>

<%= link_to 'Back', household_transactions_path(@household) %>
