<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Credit/Debit</th>
    <th>Message</th>
    <th>Household</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.amount %></td>
    <td><%= transaction.credit ? 'credit' : 'debit' %></td>
    <td><%= transaction.message %></td>
    <td><%= link_to transaction.household.to_s, transaction.household %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transaction', new_transaction_path %>
