<p>
  <b>
  <%= @transaction.credit? ? "Credit" : "Debit" %>
  for Household:</b>
  <%= @household %>
</p>

<p>
  <b>Date:</b>
  <%= @household.created_at %>

<p class="<%= "void-transaction" if @transaction.void? %>" >
  <b>Amount:</b>
  <%= @transaction.amount %> 
  <%= "(voided)" if @transaction.void? %>
</p>

<p>
  <b>Message:</b>
  <%= @transaction.message %>
</p>



<%= link_to 'Edit', edit_household_transaction_path(@household, @transaction) %> |
<%= link_to 'Back', household_transactions_path(@household) %>
