<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>Credit:</b>
  <%= @transaction.credit %>
</p>

<p>
  <b>Message:</b>
  <%= @transaction.message %>
</p>

<p>
  <b>Household:</b>
  <%= @household %>
</p>


<%= link_to 'Edit', edit_household_transaction_path(@household, @transaction) %> |
<%= link_to 'Back', household_transactions_path(@household) %>
