<!DOCTYPE html>
<html>
<head>
  <title>Foodlobby</title>
  <%= stylesheet_link_tag 'normalize', 'scaffold', 'foodlobby' %>
  <%= csrf_meta_tag %>
  <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
</head>
<body>
  <% if current_user %>
    <%= link_to "sign out #{current_user}", destroy_user_session_url, :style => "float: right"%>
  <% end %>

<div id="wrapper">
  <% if current_user %>

    <ul class="navigation">
      <li><%= link_to_unless_current "households", households_url %></li>
      <li><%= link_to_unless_current "members", members_url %></li>
      <li><%= link_to_unless_current "monthly reports", monthly_reports_url %></li>
    </ul>

  <% end %>

  <div id="content">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "#{name}" %>
    <% end %>

    <%= yield %>
  </div>

  <div id="version_banner">
    Powered by <a href='http://www.ruby-lang.org/'>Ruby</a>, <a href="http://rubyonrails.org">Rails</a>, and <%= link_to 'this code', @revision_url %>.
  </div>

  <div id="footer">
    <div class="balloon">
      <div class="pointer">
        <span class="top"></span>
        <span class="bottom"></span>
      </div>
      <div class="content">
        We've spent <strong><span class="amount"><%= sprintf("$%d", @amount_purchased_this_week) %></span></strong> on <em>yummy</em> food this week
        <%= @amount_purchased_this_week == 0 ? " =(" : "!" -%>
      </div>
    </div>
  </div>
</div>
</body>
</html>
