<!DOCTYPE html>
<html>
<head>
  <title>Foodlobby</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "foodlobby" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</content>

</body>
</html>
