<%= form_tag members_path, :method => 'get', :id => 'filter' do %>
  <fieldset>
    <%= label_tag :active %>
    <%= check_box_tag :active, :active, params[:active] %>
    <%= label_tag :inactive %>
    <%= check_box_tag :inactive, :inactive, params[:inactive] %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filter", :name => nil %>
  </fieldset>
<% end %>

<h1>Members</h1>
<% if @members.empty? %>
 <p>There are no members matching your criteria.</p>
<% else %>
<table id="members">
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Household</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= member.last_name %></td>
    <td><%= member.first_name %></td>
    <td><%= link_to member.household.to_s, member.household %></td>
    <td><%= link_to 'Show', member, :class => "action" %></td>
    <td><%= link_to 'Edit', edit_member_path(member), :class => "action" %></td>
  </tr>
<% end %>

</table>
<% end %>

<br />

<%= link_to 'New Member', new_member_path %>
