<p id="notice"><%= notice %></p>


<h1>
  <%= @member.name %>
</h1>

<style type="text/css">
  .action {
    padding: 3px;
    border: solid black 2px;
    border-top: 0px;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 200px
  }
</style>

<div class="action">
  <%= link_to 'Edit member info', edit_member_path(@member) %>
</div>

<p>
<% if @member.active  %>
Active Member
<% else %>
Inactive Member
<% end %>
</p>

<!-- TODO: add optional display to all lines -->
<div>
<b>Member email:</b> <%= @member.email %><br />
<b>Member phone 1:</b> <%= @member.phone1 %><br />
<b>Member phone 2:</b> <%= @member.phone2 %><br />
<b>Member address: (If household members have different addresses)</b><br />
<%= @member.address1 %><br />
<% if @member.address2 != '' %>
  <%= @member.address2 %><br />
<% end %>
<%= "#{@member.city}, #{@member.state} #{@member.zip}" %><br />

</div>



<div style="background-color: #bbb">
  <h2>Household</h2>
  <%= render @member.household %>
</div>


<%= link_to 'Back', members_path %>
