<h1 style="float: left;">
  <%= @member.name %>
</h1>

<ul class="navigation actions">
  <li>
  (<%= link_to 'Edit member info', edit_member_path(@member) %>)
  </li>
</ul>

<br style="clear: both;" />

<p>
<%= @member.active ? "Active" : "Inactive" %> Member
</p>

<!-- TODO: add optional display to all lines -->
<div>
<% if @member.email.present? %>
  <b>Email:</b> <%= @member.email %><br />
<% end %>

<% if @member.phone1.present? %>
  <b>Primary phone:</b> <%= @member.phone1 %><br />
<% end %>

<% if @member.phone2.present? %>
  <b>Secondary phone:</b> <%= @member.phone2 %><br />
<% end %>

<b>Address</b></br>
<%= @member.address1 %><br />
<% if @member.address2 != '' %>
  <%= @member.address2 %><br />
<% end %>
<%= "#{@member.city}, #{@member.state} #{@member.zip}" %><br />

</div>



<div>
  <h2>Household</h2>
  <%= render @member.household %>
</div>


<%= link_to 'Back', members_path %>
