<%= form_for(@household) do |f| %>
  <% if @household.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h2>

      <ul>
      <% @household.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <h3>Household Members</h3>
  <ol>
    <% @household.members.each do |m| %>
      <li><%= link_to m, m %></li>
    <% end %>
  </ol>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
