<h3>Household Members</h3>
<ol>
  <% household.members.each do |m| %>
    <li><%= link_to m, m %></li>  
  <% end %>
</ol>

<h3>Household Contact Info [<%= link_to 'edit', edit_household_path(household) %>]</h3>

<!-- TODO: add optional display to all lines -->
<div>
<b>Household phone 1:</b> <%= household.phone1 %><br />
<b>Household phone 2:</b> <%= household.phone2 %><br />
<b>Household address:</b><br />
<%= household.address1 %><br />
<% if household.address2 != '' %>
  <%= household.address2 %><br />
<% end %>
<%= "#{household.city}, #{household.state} #{household.zip}" %><br />

</div>
<hr />
<b>Balance:</b> <%= sprintf("$%.2f", household.balance) %><br />

<div style="background-color: #999">
<b>Make an investment or purchase</b>
<%= form_for([household, Transaction.new(:household => household)]) do |f| %>
  <div class="field">
    <%= f.radio_button :credit, :true %>
    <%= f.label :credit_true, "Investment (or credit adjustment)" %>
    <br />
    <%= f.radio_button :credit, :false %>
    <%= f.label :credit_false, "Purchase (or debit adjustment)" %>
  </div>
  
  <div class="field">
    <%= f.label :amount %><br />
    $<%= f.text_field :amount, :size => 6 %>
  </div>

  <div class="field">
    <%= f.label :message, "Optional message"%><br />
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>



