<h1>Listing households</h1>

<table>
  <tr>
    <th>Members</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @households.each do |household| %>
  <tr>
    <td><%= household.members.inject {|a, b| "#{a}, #{b}" } %></td>
    <td><%= sprintf("$%.2f", household.balance) %></td>
    <td><%= link_to 'Show', household %></td>
    <td><%= link_to 'Edit', edit_household_path(household) %></td>
    <td><%= link_to 'Destroy', household, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Household', new_household_path %>
