
<%= form_tag households_path, :method => 'get', :id => 'filter' do %>
  <fieldset>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filter", :name => nil %>
  </fieldset>
<% end %>

<h1>Households</h1>
<% if @households.empty? %>
  <p>There are no households matching your criteria.</p>
<% else %>
<table id="households">
  <tr>
    <th>Members</th>
    <th class="money">Balance</th>
    <th></th>
  </tr>

<% @households.each do |household| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td>
      <ol style="padding-top: 0px; padding-bottom: 0px; margin: 0px;">
      <% household.members.each do |member| %>
      	<li><%= member %></li>
      <% end %>
      </ol>
    </td>
    <td class="money"><%= sprintf("$%.2f", household.balance) %></td>
    <td><%= link_to 'Investment/Purchase', household %></td>
  </tr>
<% end %>
<tr><td colspan="3" style="text-align:center;"><a href="#">Show Inactive Accounts</a></td></tr>
</table>
<% end %>

