<h1>Listing households</h1>
<%= form_tag households_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<% if @households.empty? %>
 <p>There are no households matching your criteria.</p>
<% else %>
<table>
  <tr>
    <th>Members</th>
    <th>Balance</th>
    <th></th>
    <th></th>
  </tr>

<% @households.each do |household| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td>
      <ol style="padding-top: 0px; padding-bottom: 0px; margin: 0px;">
      <% household.members.each do |member| %>
	<li><%= member.name %></li>
      <% end %>
      </ol>
    </td>
    <td><%= sprintf("$%.2f", household.balance) %></td>
    <td><%= link_to 'Show', household %></td>
    <td><%= link_to 'Edit', edit_household_path(household) %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'New Household', new_household_path %>
