
<%= form_tag households_path, :method => 'get', :id => 'filter' do %>
  <fieldset>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Filter", :name => nil %>
  </fieldset>
<% end %>

<h1>Households</h1>
<% if @households.empty? %>
  <p>There are no active households matching your criteria.</p>
  <p>You could check the <%= link_to "members page", :members  %> to see if they exist as an inactive member.</p>
<% else %>
<table id="households">
  <tr>
    <th>Members</th>
    <th>Last seen</th>
    <th colspan=2 class="money">Balance</th>
  </tr>

<% @households.each do |household| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td>
      <ol style="padding-top: 0px; padding-bottom: 0px; margin: 0px;">
      <% household.members.each do |member| %>
      	<li><%= member %></li>
      <% end %>
      </ol>
    </td>
    <td>
      <% if household.last_transaction %>
        <%= time_ago_in_words(household.last_transaction.created_at) %> ago
      <% else %>
        No financial record.
      <% end %>
    </td>
    <td class="money"><%= sprintf("$%.2f", household.balance) %></td>
    <td><%= link_to '+/-', household %></td>
  </tr>
<% end %>
</table>
<% end %>

