<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @household.name %>
</p>

<p>
  <b>Balance:</b>
  <%= sprintf("$%.2f", @household.balance) %>
</p>


<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
